<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKIhYEuK29O0hh1ftQJSLqc5hxboZzb6M</string>
	<key>GCM_SENDER_ID</key>
	<string>79607255349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thekodex.Voca</string>
	<key>PROJECT_ID</key>
	<string>voca-6d537</string>
	<key>STORAGE_BUCKET</key>
	<string>voca-6d537.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79607255349:ios:34327158945b5a77237c7c</string>
</dict>
</plist>